{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Book{% endblock %}

{% block content %}
    <h2>Add new book</h2>

    {% if messages %}
        {% for message in messages %}
            {% if 'danger' in message.tags %}
                <p class="text-danger">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success">Add</button>
    </form>
{% endblock %}