{% extends "base.html" %}

{% block title %}Book List{% endblock %}

{% block content %}
    <h2>Your books</h2>

    {% for book in books %}
        <div class="col-sm">
            <div class="card" style="max-width: 18rem;">
              <img src="{{ book.cover_url }}" class="card-img-top" alt="cover">
              <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                  <ul>
                      <li>Author: {{ book.author }}</li>
                      <li>Published_date: {{ book.published_date }}</li>
                      <li>ISBN: {{ book.isbn }}</li>
                      <li>Page_count: {{ book.page_count }}</li>
                      <li>Language: {{ book.language }}</li>
                  </ul>

              </div>
            </div>
        </div>
    {% empty %}
        {% if no_result %}
        <p>No search results.</p>
        {% else %}
        <p>You have no added books yet.</p>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block search %}
<form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search by author" aria-label="Search" name="search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

{% endblock %}